/* Загальні стилі */
body {
    font-family: Arial, sans-serif; /* Шрифт для всього сайту */
    color: #6d4c41; /* Темний тон для тексту */
    background-color: #d1c8b2; /* Теплий тон фону, нагадує дерево */
}

.container {
    max-width: 1200px; /* Максимальна ширина контейнера */
    margin: 10 auto; /* Автоматичне вирівнювання контейнера по центру */
    padding: 20px; /* Загальний внутрішній відступ для контейнера */
}

/* Стилі для розділів */
section {
    padding: 40px 20px; /* Внутрішній відступ для кожного розділу */
}

/* Стилі для заголовків */
h1, h2, h3, h4, h5, h6 {
    color: #4e342e; /* Темно-коричневий тон для заголовків */
}

/* Стилі для посилань */
a {
    color: #795548; /* Коричневий тон для посилань */
    text-decoration: none; /* Видалення підкреслення у посилань */
}

a:hover {
    text-decoration: underline; /* Підкреслення посилань при наведенні */
}

/* Стилі для картинок у каруселі */
.carousel-item img {
    max-width: 50%; /* Максимальна ширина картинок - 100% ширини батьківського блоку */
    height: auto; /* Автоматична висота, щоб зберегти пропорції */
}

/* Медіа-запит для великих екранів (наприклад, ширина екрана більше 1200px) */
@media (min-width: 1200px) {
    .carousel-item img {
        max-width: 50%; /* Максимальна ширина картинок - 80% ширини батьківського блоку */
        height: auto; /* Автоматична висота, щоб зберегти пропорції */
        margin: 0 auto; /* Вирівнюємо по центру */
    }
}
/* Медіа-запит для середніх екранів (наприклад, ширина екрана від 768px до 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .carousel-item img {
        max-width: 70%; /* Максимальна ширина картинок - 70% ширини батьківського блоку */
        height: auto; /* Автоматична висота, щоб зберегти пропорції */
        margin: 0 auto; /* Вирівнюємо по центру */
    }
}

/* Медіа-запит для маленьких екранів (наприклад, ширина екрана менше 768px) */
@media (max-width: 767px) {
    .carousel-item img {
        max-width: 100%; /* Максимальна ширина картинок - 100% ширини батьківського блоку */
        height: auto; /* Автоматична висота, щоб зберегти пропорції */
        margin: 0 auto; /* Вирівнюємо по центру */
    }
}

/* Стилі для кнопок */
.btn {
    background-color: #795548; /* Коричневий тон для фону кнопок */
    color: #fff; /* Колір тексту для кнопок */
    border: none; /* Видалення меж для кнопок */
    padding: 10px 20px; /* Внутрішній відступ для кнопок */
    cursor: pointer; /* Зміна вигляду курсора при наведенні на кнопку */
}

.btn:hover {
    background-color: #6d4c41; /* Колір фону для кнопок при наведенні */
}

/* Стилі для інпутів */
input[type="text"], input[type="email"], textarea {
    width: 100%; /* Ширина інпутів для вводу тексту */
    padding: 10px; /* Внутрішній відступ для інпутів */
    margin-bottom: 20px; /* Відступ між інпутами */
    border: 1px solid #8d6e63; /* Коричневий тон для меж інпутів */
    border-radius: 5px; /* Закруглені кути для інпутів */
    box-sizing: border-box; /* Розрахунок ширини інпутів з урахуванням меж */
}

/* Стилі для текстових областей */
textarea {
    resize: vertical; /* Дозвіл розтягувати текстову область вертикально */
}

/* Стилі для таблиць */
table {
    width: 100%; /* Розтягувати таблицю на всю ширину контейнера */
    border-collapse: collapse; /* Злиття границь для кращого вигляду */
}

th, td {
    border: 1px solid #8d6e63; /* Коричневий тон для меж комірок таблиці */
    padding: 8px; /* Внутрішній відступ для комірок таблиці */
    text-align: left; /* Вирівнювання тексту у комірках по лівому краю */
}

th {
    background-color: #f2f2f2; /* Колір фону для заголовків таблиці */
}
.card {
    border: none;
    margin: 15px 0px;
}
.card-body{
    background-color: #efc193;    
}
/* Стилі для модальних вікон */
.modal-content {
    background-color: #d1c8b2; /* Теплий тон фону, нагадує дерево */
    color: #4e342e; /* Темно-коричневий тон для тексту */
    border-radius: 8px; /* Закруглені кути для модального вікна */
    border: 2px solid #795548; /* Межа, що відповідає кольору основних кнопок */
}

.modal-header, .modal-footer {
    background-color: #ad887a; /* Світліший відтінок для шапки та підвалу модального вікна */
    border-bottom: 1px solid #a1887f; /* Межа, що відокремлює заголовок від тіла модального вікна */
    border-top: 1px solid #a1887f; /* Межа для підвалу */
}

.modal-title {
    color: #6d4c41; /* Колір заголовка модального вікна */
}

.modal-body {
    padding: 20px; /* Внутрішній відступ для тіла модального вікна */
}

.modal-footer button {
    background-color: #795548; /* Коричневий тон для кнопок */
    color: white; /* Білий текст на кнопках */
    border: none; /* Видалення стандартної межі кнопок */
}

.modal-footer button:hover {
    background-color: #6d4c41; /* Темніший коричневий колір для кнопок при наведенні */
}

/* Кнопка закриття модального вікна */
.modal-header .close {
    color: #6d4c41; /* Колір іконки закриття */
    opacity: 1; /* Повна непрозорість для іконки закриття */
}

.modal-header .close:hover {
    color: #4e342e; /* Темніший колір при наведенні на іконку закриття */
}
/* Стилі для параграфів всередині модального вікна */
.modal-body p {
    margin-top: 20px; /* Верхній відступ для параграфів */
    margin-bottom: 0px;
}
/* Анімація для модального діалогу */
@keyframes scaleUp {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-dialog {
    animation: scaleUp 0.3s ease forwards;
}
section {
    display: none; /* Сховати всі секції */
}

section#home {
    display: block; /* Показати тільки головну секцію */
}
.video-gallery video {
    width: 100%; /* Забезпечує, що відео займає весь доступний простір в колонці */
    margin-bottom: 20px; /* Відступ знизу для кращого розмежування між відео */
}
.video-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%; /* Задаємо ширину контейнера */
    padding-top: 56.25%; /* Задаємо відносну висоту для 16:9 аспектного співвідношення */
    height: 0;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Відео заповнює весь контейнер, зайве обрізається */
}